MONGODB_URI=mongodb+srv://srujanhannikeri_db_user:srujan0513@cluster0.3zdam3g.mongodb.net/market_masters?retryWrites=true&w=majority&appName=Cluster0
JWT_SECRET=market_masters_32910709347
JWT_EXPIRE=7d
PORT=5000
NODE_ENV=production
